.form {
  width: 460px;
  min-height: 550px;
  height: auto;
  border-radius: 16px;
  gap: 24px;
  background-color: white;
}
@media (width <= 786px) {
  .form {
    width: auto;
  }
}
.form .field-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
}
.form .field-wrapper.selection-wrapper {
  grid-auto-flow: column;
  justify-content: start;
  gap: 16px;
}
.form .field-wrapper.selection-wrapper > label {
  order: 1;
  margin-bottom: 0;
}
.form .field-wrapper.selection-wrapper input {
  width: 16px;
  accent-color: crimson;
}
.form .field-wrapper > label {
  order: -1;
}
.form fieldset {
  display: grid;
  grid-auto-flow: row;
  gap: 8px;
  margin: 5px;
  padding: 0;
  border: none !important;
}
@media (width >= 900px) {
  .form fieldset {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
.form fieldset > legend {
  font-weight: 500;
  font-size: var(--heading-font-size-xs);
}
.form label {
  font-weight: 500;
  font-size: var(--body-font-size-xs);
  margin-bottom: 0.25em;
}
.form input,
.form select,
.form textarea {
  font-size: var(--body-font-size-s);
  width: 100%;
  max-width: 50rem;
  display: block;
  height: 40px;
  padding: 12px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}
.form input:hover,
.form select:hover,
.form textarea:hover {
  border: 1px solid var(--text-color);
}
.form input[required] + label::after,
.form select[required] + label::after,
.form textarea[required] + label::after {
  content: "*";
  color: firebrick;
  margin-inline-start: 1ch;
}
.form textarea {
  resize: vertical;
}
.form .button {
  width: auto;
  height: 40px;
  border-radius: 5px;
  gap: 10px;
}
.form #form-headline {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-top: -12px;
  margin-bottom: 0;
}
.form .checkbox-wrapper {
  border: 1px solid grey;
  padding: 10px 20px;
  min-width: 150px;
  width: auto;
  border-radius: 10px;
}
@media (width <= 600px) {
  .form .checkbox-wrapper {
    min-width: auto;
    flex: 1;
    display: flex;
  }
}
.form .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}
.form .toggle-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}
.form .toggle-wrapper input:checked + .slider {
  background-color: var(--link-color);
}
.form .toggle-wrapper input:checked + .slider::before {
  transform: translateX(24px);
}
.form .toggle-wrapper input:focus + .slider {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}
.form .toggle-wrapper .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--dark-color);
  transition: 0.4s;
  border-radius: 30px;
}
.form .toggle-wrapper .slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--background-color);
  transition: 0.4s;
  border-radius: 50%;
}

.form-premium {
  border: none;
  width: 481px;
  min-height: fit-content;
  background-color: inherit;
}
@media (width <= 786px) {
  .form-premium {
    width: auto;
  }
}
.form-premium input {
  border-radius: 8px;
  border: 1px solid rgb(37, 56, 88);
  background-color: inherit;
}
.form-premium .button {
  width: auto;
  margin: 0;
  background-color: #4169e2;
  border-radius: 8px;
}
.form-premium label {
  font-size: 12px;
}
.form-premium p {
  font-size: 14px;
  margin: 0;
}
.form-premium h4 {
  margin: 0;
}

.premium-section {
  margin-top: 50px !important;
  background-image: url(../../icons/pay-premium-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  background-color: rgba(102, 61, 179, 0.2);
}
@media (width <= 768px) {
  .premium-section {
    margin-top: 64px;
    background-image: none;
  }
}
@media (width >= 2880px) {
  .premium-section {
    background-size: auto;
  }
}
.premium-section .field-wrapper.date-wrapper input[type=date] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

.need-help-form-main {
  margin-top: 100px;
  margin-bottom: 125px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../icons/need-help-img.png");
  justify-content: space-evenly;
}
@media (width <= 768px) {
  .need-help-form-main {
    margin-top: 64px;
  }
}
@media (width >= 2880px) {
  .need-help-form-main {
    background-size: auto;
    background-color: unset;
    background-position: center;
  }
}
.need-help-form-main .form-wrapper .need-help-form {
  color: #fff;
  min-height: 550px;
  align-content: center;
  background-color: inherit;
}
.need-help-form-main .form-wrapper .field-wrapper {
  position: relative;
  margin-top: 10px;
}
.need-help-form-main .form-wrapper .field-wrapper .button {
  width: auto !important;
  height: 40px;
  border-radius: 5px;
  gap: 10px;
  background-color: #fff;
  color: #4169e2;
}
.need-help-form-main .form-wrapper .field-wrapper .form-headline-4 {
  margin: unset;
}
.need-help-form-main .form-wrapper .field-wrapper select {
  height: 40px;
  font-size: 12px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
}
.need-help-form-main .form-wrapper .field-wrapper p {
  margin: unset;
  font-size: 14px;
}
.need-help-form-main .form-wrapper .field-wrapper fieldset {
  margin: 0;
}
.need-help-form-main .form-wrapper .field-wrapper label {
  position: absolute;
  font-size: 12px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
.need-help-form-main .form-wrapper .field-wrapper .select-wrapper label {
  display: none;
}
.need-help-form-main .form-wrapper .field-wrapper input {
  font-size: 1rem;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: #fff;
  transition: 0.1s ease-out;
  background-color: inherit;
}
.need-help-form-main .form-wrapper .field-wrapper input:focus {
  border-color: #6200ee;
}
.need-help-form-main .form-wrapper .field-wrapper input:focus + label {
  color: #fff;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.need-help-form-main .form-wrapper .field-wrapper input:not(:placeholder-shown) + label {
  transform: translateY(-50%) scale(0.9);
}
.need-help-form-main .form-wrapper .form {
  width: auto;
}
.need-help-form-main .form-wrapper .form .field-wrapper {
  padding: 0;
  margin: 0;
}
.need-help-form-main.padd-top {
  padding: 0;
  margin: 0;
}
@media (width <= 786px) {
  .need-help-form-main.padd-top {
    padding: 16px 8px;
  }
}

.hero-container label {
  font-size: small;
  font-weight: 600;
}
.hero-container .checkbox-wrapper {
  height: 16px;
  align-content: center;
  border: 1px solid rgba(17, 17, 17, 0.12);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.hero-container .form-wrapper .heading-wrapper p {
  margin: 0;
  padding: 10px;
}
.hero-container .form-wrapper .plaintext-wrapper #form-headline {
  margin: 0;
  font-size: 16px;
}
.hero-container .form-wrapper .plaintext-wrapper #form-description {
  font-size: small;
  font-weight: 600;
  margin: 0;
  color: rgba(17, 17, 17, 0.72);
  line-height: 19.52px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.hero-container .form-wrapper .plaintext-wrapper #form-description-1 {
  margin: 0;
  font-size: 14px;
  color: rgba(17, 17, 17, 0.72);
}
.hero-container .form-wrapper .fieldset-wrapper {
  padding: unset;
}
.hero-container .form-wrapper form {
  padding: 0 20px;
  min-height: unset;
}
@media (width <= 786px) {
  .hero-container .form-wrapper form {
    padding: 10px;
  }
}
.hero-container .submit-wrapper button {
  margin: 0;
  width: 100%;
  background-color: #4169e2;
  border-radius: 8px;
  margin-top: 8px;
}
@media (width <= 786px) {
  .hero-container .form-wrapper .form #form-persontypefs,
  .hero-container .form-wrapper .form #form-self-spouse,
  .hero-container .form-wrapper .form #form-children,
  .hero-container .form-wrapper .form #form-grandparent,
  .hero-container .form-wrapper .form #form-relation {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

#form-loader {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-loader:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.1em solid var(--dark-color);
}
#form-loader[data-progress]:after {
  transform: rotate(calc(360 * var(--progress) / 100)) scale(0.8);
  transform-origin: center;
}