/* @media (width <=786px) {
    .virtualimage-wrapper {
        display: none;
    }
} */
.virtualinsurance-container {
  display: flex;
  background-image: url("../../icons/new-webp.png");
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1);
  min-height: 440px;
}
@media (width <= 786px) {
  .virtualinsurance-container {
    min-height: auto;
  }
}

.virtualinsurance-container .virtualinsurance-wrapper {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
}
@media (width <= 786px) {
  .virtualinsurance-container .virtualinsurance-wrapper {
    line-height: normal;
  }
}

.download-banner .virtualinsurance-wrapper p img {
  width: 18px;
}

#download-virtual-insurance-mobile-app {
  font-size: 40px;
  width: 50%;
}
@media (width <= 786px) {
  #download-virtual-insurance-mobile-app {
    width: 100%;
    font-size: 32px;
  }
}

.virtualimage-wrapper {
  display: none;
}

.download-banner {
  background-color: #663DB3;
  background-image: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.download-banner .virtualimage-wrapper {
  display: block;
  margin-bottom: -10px !important;
}
@media (width <= 786px) {
  .download-banner {
    display: flex;
    flex-direction: column;
  }
}
.download-banner .virtualinsurance-wrapper > div > div:nth-child(3) > div > p {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  width: 30%;
  border-radius: 8px;
  justify-content: space-around;
  padding: 14px;
  font-weight: bold;
  margin-top: 50px;
}
@media (width <= 786px) {
  .download-banner .virtualinsurance-wrapper > div > div:nth-child(3) > div > p {
    width: auto;
  }
}

@media (width <= 786px) {
  #download-the-brochure-for-shieldplus-protection {
    font-size: 28px;
  }
}
.section.download-banner.virtualinsurance-container.virtualimage-container {
  max-width: 1200px;
  margin: auto;
}