.columns > div {
  display: flex;
  flex-direction: column;
}
.columns > div > div {
  order: 1;
}
.columns > div > .columns-img-col {
  order: 0;
}
.columns > div > .columns-img-col img {
  display: block;
}
@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }
  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.hero-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: rgba(102, 61, 179, 0.2);
}
@media (width <= 600px) {
  .hero-container {
    display: block;
  }
}
.hero-container .columns-wrapper,
.hero-container .form-wrapper {
  margin: unset !important;
}
.hero-container .columns-wrapper .calculate h1 {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
@media (width <= 786px) {
  .hero-container .columns-wrapper .calculate h1 {
    font-size: 1.5rem;
  }
}
.hero-container .columns-wrapper .calculate > div > div h1 + p {
  margin: 0;
  font-size: 16px;
  display: inline;
  color: #111;
  opacity: 0.8;
}
.hero-container .columns-wrapper .calculate > div > div p {
  font-size: 14px;
  margin: 0;
}
.hero-container .columns-wrapper .calculate > div > div p strong {
  color: #663DB3;
}
.hero-container .columns-wrapper .calculate > div > div p:last-child {
  margin: 0;
  font-size: 14px;
  width: 90%;
}
@media (width <= 768px) {
  .hero-container .columns-wrapper .calculate > div > div p:last-child {
    width: 100%;
    font-size: 12px;
  }
}
@media (width <= 768px) {
  .hero-container .columns-wrapper .calculate > div > div p {
    font-size: 12px;
    margin: 0;
  }
}
.hero-container .columns-wrapper .calculate > div > div table:first-of-type {
  position: relative;
  top: 51px;
  z-index: 2;
}
@media (width <= 768px) {
  .hero-container .columns-wrapper .calculate > div > div table:first-of-type {
    position: unset;
    width: 100%;
  }
}
.hero-container .columns-wrapper .calculate > div > div table:first-of-type tr td:nth-child(2) {
  font-size: 12px;
  vertical-align: top;
}
@media (width <= 786px) {
  .hero-container .columns-wrapper .calculate > div > div table:first-of-type tr td:nth-child(2) {
    text-align: center;
  }
}
.hero-container .columns-wrapper .calculate > div > div table:first-of-type tr td:nth-child(2) p {
  font-size: 12px;
  margin: 0;
  display: flex;
  gap: 5px;
}
@media (width <= 786px) {
  .hero-container .columns-wrapper .calculate > div > div table:first-of-type tr td:nth-child(2) p {
    display: block;
  }
}
.hero-container .columns-wrapper .calculate > div > div table:first-of-type tr td:nth-child(2) p strong {
  color: #663DB3;
}
.hero-container .columns-wrapper .calculate > div > div table:not(:first-of-type) {
  background: white;
  border-radius: 8px;
}
@media (width >= 787px) {
  .hero-container .columns-wrapper .calculate > div > div table:not(:first-of-type) {
    z-index: 3;
    position: relative;
  }
}
.hero-container .columns-wrapper .calculate > div > div table:not(:first-of-type) td {
  padding: 14px 28px;
}
@media (width <= 768px) {
  .hero-container .columns-wrapper .calculate > div > div table:not(:first-of-type) td {
    padding: 5px 10px;
  }
}
.hero-container .columns-wrapper .calculate > div > div table:not(:first-of-type) td:nth-child(-n+2) {
  border-right: 2px solid;
  border-image-source: linear-gradient(180deg, rgba(36, 150, 173, 0) 0%, rgb(204, 204, 204) 50%, rgba(92, 92, 92, 0) 100%);
  border-image-slice: 1;
}
.hero-container .columns-wrapper .calculate > div > div table:not(:first-of-type) td p {
  font-size: 14px;
}
.hero-container .columns-wrapper .calculate > div > div table:not(:first-of-type) strong {
  color: #663DB3;
}
.hero-container .columns-wrapper .calculate .button-container .button {
  width: 100%;
  border: 2px solid transparent;
  font-size: 16px;
}
.hero-container .form-wrapper #form-headingcommon {
  grid-template-columns: 80% 1fr;
}
.hero-container.columns-container.form-container > div.columns-wrapper > div > div > div > table:nth-child(3) > tbody > tr {
  display: flex;
  flex-direction: row-reverse;
}
@media (width <= 786px) {
  .hero-container.columns-container.form-container > div.columns-wrapper > div > div > div > table:nth-child(3) > tbody > tr {
    flex-direction: column-reverse;
  }
}
.hero-container.comprehensive-page {
  background-color: #663DB3;
  padding-bottom: 50px !important;
}
.hero-container.comprehensive-page .columns-wrapper .calculate > div > div p {
  color: #E0E3FA;
}
.hero-container.comprehensive-page .columns-wrapper .calculate > div > div p strong {
  color: #fff;
}
.hero-container.comprehensive-page .columns-wrapper .calculate > div > div h1 {
  color: #FFF !important;
}
.hero-container.comprehensive-page .columns-wrapper .calculate > div > div tr p {
  color: #FFF;
  margin: 30px 0px;
}
.hero-container.comprehensive-page .columns-wrapper table > tbody > tr > td:nth-child(1) p img {
  width: 14px;
  margin-right: 8px;
}
.hero-container.comprehensive-page .columns-wrapper table > tbody > tr > td:nth-child(2) img {
  width: 80%;
}
.hero-container.comprehensive-page .calculate > div > div > table:first-of-type {
  top: 0;
}
@media (width <= 786px) {
  .hero-container.comprehensive-page .columns-wrapper > div > div > div > table > tbody > tr {
    display: flex;
    flex-direction: column-reverse;
  }
}

.icon {
  position: relative !important;
  background-color: transparent !important;
  font-size: 30px;
}
.icon-icon_tick img {
  width: 16px;
  height: 16px;
}

.full-width .form-wrapper {
  display: none;
}