.columns>div {
  display: flex;
  flex-direction: column;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}

.hero-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 60px;
  background-color: #dfe7fa;

  @media (width <=600px) {
    display: block;
  }
}

.hero-container .columns-wrapper {
  margin: unset !important;
}

.hero-container .form-wrapper {
  margin: unset !important;
}

.hero-container .columns-wrapper .calculate h1 {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

@media (width <=786px) {
  .hero-container .columns-wrapper .calculate h1 {
    font-size: 1.5rem;
  }
}

.hero-container .columns-wrapper .calculate>div>div h1+p {
  margin: 0;
  font-size: 16px;
  display: inline;
  color: #111;
  opacity: 80%;
}

.hero-container .columns-wrapper .calculate .button-container .button {
  width: 100%;
  border: 2px solid transparent;
  font-size: 16px;
}

.hero-container .calculate>div>div>table:not(:first-of-type) p {
  margin: 0;
}

.hero-container .calculate>div>div>table:not(:first-of-type) td p {
  font-size: 14px;
}

.hero-container .columns-wrapper .calculate>div>div p {
  /* margin:0; */
  font-size: 14px;
  /* display:inline; */

  @media (width <=768px) {
    font-size: 12px;
  }
}

.hero-container .columns-wrapper .calculate>div>div p:last-child {
  margin: 0;
  font-size: 14px;
  width: 80%;

  @media (width <=768px) {
    width: 100%;
    font-size: 12px;
    margin: 1rem;
  }
}

.hero-container .form-wrapper #form-headingcommon {
  grid-template-columns: 80% 1fr;
}

.hero-container .calculate>div>div>table:first-of-type {

  position: relative;
  top: 51px;
  z-index: 2;

 @media (width <=768px) {
    position: unset;
  }

}

.hero-container .calculate>div>div>table:not(:first-of-type) td {
  padding: 14px 28px;

  @media (width <=768px) {
    padding: 5px 10px;
  }
}

.hero-container .calculate>div>div>table:not(:first-of-type) td:nth-child(-n+2) {
  border-right: 2px solid;
  border-image-source: linear-gradient(180deg, rgb(36 150 173 / 0%) 0%, rgb(204 204 204 / 100%) 50%, rgb(92 92 92 / 0%) 100%);
  border-image-slice: 1;
}

.hero-container .calculate>div>div>table:first-of-type tr picture {
  mix-blend-mode: multiply;
}

.hero-container .calculate>div>div>table:first-of-type tr td:nth-child(2) {
  font-size: 12px;
  vertical-align: top;

  @media (width <=786px) {
    text-align: center;

  }
}

.hero-container .calculate>div>div>table:first-of-type tr td:nth-child(2) p {
  font-size: 12px;
  margin: 0;
  display: flex;
  gap: 5px;

  @media (width <=786px) {
    display: block;
  }
}

.hero-container .calculate>div>div>table:first-of-type tr td:nth-child(2) p strong {
  color: red;
}

.hero-container .calculate>div>div>table:not(:first-of-type) {
  background: white;
  border-radius: 8px;

  @media (width >=787px) {
    z-index: 3;
    position: relative;
  }
}

.hero-container .calculate>div>div>table:not(:first-of-type) strong {
  color: red;
}

.icon-icon_tick img {
  width: 16px;
  height: 16px;
}

.hero-container.columns-container.form-container>div.columns-wrapper>div>div>div>table:nth-child(3)>tbody>tr {
  display: flex;
  flex-direction: row-reverse;
}

.comprehensive-page {
  background-color: #4169E1;
}

.comprehensive-page .columns-wrapper .calculate>div>div h1+p {
  color: #FFFFFF;
}

.comprehensive-page>div.columns-wrapper>div>div>div {
  color: #FFFFFF;
}

.comprehensive-page .calculate>div>div>table:first-of-type {
  top: 0;
}

.comprehensive-page .columns-wrapper table>tbody>tr>td:nth-child(1) p img {
  width: 14px;
  margin-right: 8px;
}

.comprehensive-page .columns-wrapper table>tbody>tr>td:nth-child(2) img {
  width: 80%;
}

@media (width <=786px) {
  .hero-container.comprehensive-page .columns-wrapper>div>div>div>table>tbody>tr {
    display: flex;
    flex-direction: column-reverse;
  }
}