/* stylelint-disable-next-line no-descending-specificity */
/* accordion container starts  */
/* accordion second  */
/* margin-left: unset !important; */
.accordion details {
  border: 1px solid var(--dark-color);
}
.accordion details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}
.accordion details summary::-webkit-details-marker {
  display: none;
}
.accordion details summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}
.accordion details .accordion-item-body {
  padding: 0 16px;
}
.accordion details .accordion-item-body p {
  font-size: 14px;
}
.accordion details .accordion-item-body p img {
  width: 14px;
}
.accordion details + details {
  margin-top: 16px;
}
.accordion details[open] {
  background-color: rgba(102, 61, 179, 0.0509803922);
}
.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}
.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--dark-color);
}

.accordion-item[open] .accordion-item-label p {
  font-size: 20px;
  font-weight: bold;
}
.accordion-item[open] .accordion-item-label p strong {
  background-color: #663DB3;
  color: white;
  padding: 8px;
}

.accordion-first .default-content-wrapper {
  margin-right: 0;
}

.section-health-accordion-first .default-content-wrapper {
  margin: 0;
  width: auto;
  text-align: unset;
}
.section-health-accordion-first .default-content-wrapper p img {
  width: 60%;
  padding-top: 30px;
}
@media (width <= 768px) {
  .section-health-accordion-first .default-content-wrapper p img {
    width: 100%;
  }
}
.section-health-accordion-first .default-content-wrapper .accordion-wrapper {
  width: 70%;
  margin: 0;
}
@media (width <= 1400px) {
  .section-health-accordion-first .default-content-wrapper .accordion-wrapper {
    width: 80%;
  }
}

.section-health-accordion-second {
  background-color: rgba(102, 61, 179, 0.0509803922);
}
.section-health-accordion-second .default-content-wrapper .button-container a {
  background-color: #4169e2;
}

.section-health-accordion-first .accordion-first .accordion-item {
  border-radius: 25px;
}
@media (width <= 786px) {
  .section-health-accordion-first .accordion-first .accordion-item {
    border-radius: 10px;
  }
  .section-health-accordion-first .accordion-first .accordion-item strong {
    background-color: rgba(102, 61, 179, 0.0509803922);
    border-radius: 8px;
    padding: 8px;
    color: #663DB3;
  }
}
.section-health-accordion-first .understanding .default-content-wrapper img {
  max-width: 60%;
}
.section-health-accordion-first .understanding .accordion-first-wrapper > div > div > div:nth-child(2) > p {
  font-size: 14px;
}

.section-health-accordion-second .accordion details[open] {
  background-color: #fff;
}

.accordion-second .accordion-item {
  border-radius: 20px;
  background-color: white;
}
.accordion-second .accordion-item strong {
  color: #663DB3;
}

.section-health-accordion-first.accordion-container .default-content-wrapper > p:nth-child(1) > strong {
  font-size: 34px;
}

.understanding {
  background-color: rgba(38, 2, 106, 0.0509803922);
  align-items: flex-end;
}
.understanding .default-content-wrapper {
  margin-right: 100px;
}
.understanding .default-content-wrapper p strong {
  font-size: 40px;
}
@media (width <= 786px) {
  .understanding .default-content-wrapper p strong {
    font-size: 25px !important;
  }
}
@media (width <= 786px) {
  .understanding .default-content-wrapper {
    margin-right: 0;
    text-align: center;
  }
}

.accordion-first-wrapper {
  margin: 0 !important;
  width: 70%;
}
.accordion-first-wrapper > div > div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 25px 0;
}
.accordion-first-wrapper > div > div > div:nth-child(1) > p:nth-child(1) {
  position: absolute;
  left: -65px;
  top: 18px;
  background-color: #663DB3;
  color: white;
  border-radius: 8px;
  padding: 6px 10px;
}
.accordion-first-wrapper > div > div p {
  margin: 0;
}
@media (width <= 786px) {
  .accordion-first-wrapper {
    width: 100%;
  }
}

main .section-health-accordion-first.padd-top {
  padding-top: 10%;
}

@media (width >= 786px) {
  .section-health-accordion-first {
    display: flex;
    justify-content: center;
  }
  .section-health-accordion-first .accordion-wrapper {
    width: 70%;
    margin: 0;
  }
}
@media (width >= 768px) {
  .section-health-accordion-second .default-content-wrapper p {
    font-size: 48px;
    width: 50%;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  .section.section-health-accordion-second.accordion-container > div:nth-child(3) > p {
    width: 100%;
    text-align: center;
    line-height: 1;
    margin-bottom: 1.5rem;
    margin-top: 20px;
  }
}
@media (width <= 768px) {
  .section-health-accordion-second .default-content-wrapper .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}
@media (width <= 786px) {
  .accordion-second .accordion-item {
    border-radius: 10px;
  }
  .accordion-second .accordion-item p {
    font-size: 14px;
  }
  .accordion-first .accordion-item {
    border-radius: 10px;
  }
  .accordion-first .accordion-item p {
    font-size: 14px;
  }
  .understanding .default-content-wrapper p {
    font-size: 15px;
  }
}