.accordion details {
  border: 1px solid var(--dark-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details+details {
  margin-top: 16px;
}

.accordion details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: 0 16px;
}

.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--dark-color);
}

.accordion details[open] {
  background-color: #F5F9FF;
}

.accordion-item[open] .accordion-item-label p strong{
  background-color: #4169E1;
  color: white;
}


/* accordion container starts  */
@media (width >=786px) {
  .section-health-accordion-first {
    display: flex;
    justify-content: center;
  }

  .section-health-accordion-first .accordion-wrapper {
    width: auto;
    margin-left: unset !important;
  }
}

.accordion-first .default-content-wrapper {
  margin-right: 0;
}

.section-health-accordion-first .default-content-wrapper {
  margin: 0;
  /* width: 100%;
text-align: center; */
  width: auto;
  margin-right: 200px;

  @media (width <=1400px) {
    text-align: unset;
  }

  @media (width <=768px) {
    margin-right: unset;
  }
}

/* accordion second  */
.section-health-accordion-second {
  background-color: #f5f8ff;
}

@media (width >=768px) {
  .section-health-accordion-second .default-content-wrapper p {
    font-size: 48px;
    width: 50%;
    /* text-align: center; */
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  .section.section-health-accordion-second.accordion-container > div:nth-child(3) > p{
    width: 100%;
    text-align: center;
    line-height: 1;
    margin-bottom: 1.5rem;
    margin-top: 20px;
  }
}


@media (width <=768px) {
  .section-health-accordion-second .default-content-wrapper .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}

.section-health-accordion-second .default-content-wrapper .button-container a {
  background-color: #4169e2;
}

.accordion-second .accordion-item {
  border-radius: 20px;
  background-color: white;
}

@media (width <=786px) {
  .accordion-second .accordion-item p {
    font-size: 14px;
  }

  .accordion-second .accordion-item {
    border-radius: 10px;
  }
}

.accordion-second .accordion-item strong {
  color: #4e6abd;
}

@media (width <=786px) {
  .accordion-first .accordion-item p {
    font-size: 14px;
  }

  .accordion-first .accordion-item {
    border-radius: 10px;
  }
}

.section-health-accordion-first .accordion-wrapper {
  width: 27%;
  margin: 0;

  @media (width <=1400px) {
    width: 65%;
  }

  /* margin-left: unset !important; */

  @media (width <=786px) {
    width: auto;
  }
}

.section-health-accordion-first .accordion-first .accordion-item {
  border-radius: 25px;

  @media (width <=786px) {
    border-radius: 10px;
  }
}

.section-health-accordion-first .accordion-first .accordion-item strong {
  background-color: #F5F9FF;
  border-radius: 8px;
  padding: 8px;
  color: #4169E1;
}

.section-health-accordion-first.accordion-container .default-content-wrapper > p:nth-child(1) > strong{
  font-size: 28px;
}