.accordion details {
  border: 1px solid var(--dark-color);
}
.accordion details + details {
  margin-top: 16px;
}
.accordion details summary {
  position: relative;
  padding: 0 16px 0 16px;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}
.accordion details summary::-webkit-details-marker {
  display: none;
}
.accordion details summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}
.accordion details[open] {
  background-color: #663DB30D;
}
.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}
.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--dark-color);
}
.accordion details .accordion-item-body {
  padding: 0 16px;
}
.accordion .accordion-item[open] .accordion-item-label p strong {
  background-color: #4169E1;
  color: white;
  padding: 8px;
}

@media (min-width: 786px) {
  .section-health-accordion-first {
    display: flex;
    justify-content: center;
  }
}
.section-health-accordion-first.accordion-container .default-content-wrapper > p:nth-child(1) > strong {
  font-size: 28px;
}
.section-health-accordion-first .accordion-wrapper {
  width: 27%;
  margin: 0;
}
@media (max-width: 1400px) {
  .section-health-accordion-first .accordion-wrapper {
    width: 65%;
  }
}
@media (max-width: 786px) {
  .section-health-accordion-first .accordion-wrapper {
    width: auto;
  }
}
.section-health-accordion-first .default-content-wrapper {
  margin: 0;
  width: auto;
  margin-right: 200px;
}
@media (max-width: 1400px) {
  .section-health-accordion-first .default-content-wrapper {
    text-align: unset;
  }
}
@media (max-width: 768px) {
  .section-health-accordion-first .default-content-wrapper {
    margin-right: unset;
  }
}
.section-health-accordion-first .accordion-first .default-content-wrapper {
  margin-right: 0;
}
.section-health-accordion-first .accordion-first .accordion-item {
  border-radius: 25px;
}
@media (max-width: 786px) {
  .section-health-accordion-first .accordion-first .accordion-item {
    border-radius: 10px;
  }
}
@media (max-width: 786px) {
  .section-health-accordion-first .accordion-first .accordion-item p {
    font-size: 14px;
  }
}
.section-health-accordion-first .accordion-first .accordion-item strong {
  background-color: #F5F9FF;
  border-radius: 8px;
  padding: 8px;
  color: #4169E1;
}
.section-health-accordion-first.padd-top {
  padding-top: 10%;
}

.section-health-accordion-second {
  background-color: #663DB30D;
}

.section-health-accordion-second .accordion details[open]{
background-color: #fff;
}
@media (min-width: 768px) {
  .section-health-accordion-second .default-content-wrapper p {
    font-size: 48px;
    width: 50%;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
}
.section-health-accordion-second .default-content-wrapper .button-container a {
  background-color: #4169e2;
}
@media (max-width: 768px) {
  .section-health-accordion-second .default-content-wrapper .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}
.section-health-accordion-second.accordion-container > div:nth-child(3) > p {
  width: 100%;
  text-align: center;
  line-height: 1;
  margin-bottom: 1.5rem;
  margin-top: 20px;
}
.section-health-accordion-second .accordion-second .accordion-item {
  border-radius: 20px;
  background-color: white;
}
@media (max-width: 786px) {
  .section-health-accordion-second .accordion-second .accordion-item {
    font-size: 14px;
    border-radius: 10px;
  }
}
.section-health-accordion-second .accordion-second .accordion-item strong {
  color: #4e6abd;
}

.understanding {
  background-color: #26026A0D;
  align-items: flex-end;
}
.understanding .default-content-wrapper {
  margin-right: 100px;
}
@media (max-width: 786px) {
  .understanding .default-content-wrapper {
    margin-right: 0;
    text-align: center;
  }
}
@media (max-width: 786px) {
  .understanding .default-content-wrapper p {
    font-size: 15px;
  }
}
.understanding .default-content-wrapper p strong {
  font-size: 40px;
}
@media (max-width: 786px) {
  .understanding .default-content-wrapper p strong {
    font-size: 25px !important;
  }
}
.understanding .default-content-wrapper img {
  max-width: 60%;
}
.understanding .accordion-first-wrapper {
  width: 70%;
}
@media (max-width: 786px) {
  .understanding .accordion-first-wrapper {
    width: 100%;
  }
}
.understanding .accordion-first-wrapper > div > div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 25px 0;
}
.understanding .accordion-first-wrapper > div > div p {
  margin: 0;
}
.understanding .accordion-first-wrapper > div > div > div:nth-child(1) > p:nth-child(1) {
  position: absolute;
  left: -65px;
  top: 18px;
  background-color: #663DB3;
  color: white;
  border-radius: 8px;
  padding: 6px 10px;
}
.understanding .accordion-first-wrapper > div > div > div:nth-child(2) > p {
  font-size: 14px;
}