.tabs .tabs-list {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  border-bottom: 2px solid #d5cccc;
  justify-content: space-between;
  margin-bottom: 30px;
}

.tabs .tabs-list button {
  flex: 1;
  margin: 0;
  border-radius: 0;
  padding: 8px 16px;
  background-color: white;
  color: rgb(17 17 17 / 60%);
  font-size: 16px;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

@media (width >=786px) {
  .tabs .tabs-list button[aria-selected="true"] {
    border-bottom: 2px solid red;
    background-color: var(--background-color);
    cursor: initial;
    color: red;
  }
}

@media (width <=786px) {
  .tabs .tabs-list button[aria-selected="true"] {
    background-color: var(--background-color);
    cursor: initial;
    color: red;
  }
}

/* .tabs .tabs-list button[aria-selected="false"]:hover,
  .tabs .tabs-list button[aria-selected="false"]:focus {
    background-color: var(--dark-color);
  } */

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 0 16px;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

.default-content-wrapper h3,
.default-content-wrapper p {
  margin: 0;
}

.default-content-wrapper .button-container {
  margin-left: auto;

  @media (width <=786px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tabs .tabs-list .tab {
  flex-grow: 1;
}

.health-tabs-container .default-content-wrapper {
  display: flex;

  @media (width <=786px) {
    display: block;
  }
}

.health-tabs-container .default-content-wrapper h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36%;
}

@media (width <=786px) {
  .health-tabs-container .default-content-wrapper h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}

.health-tabs-container .health-tabs-variation .tabs-panel>div {
  display: flex;
}

@media (width <=786px) {
  .health-tabs-container .health-tabs-variation .tabs-panel>div {
    display: block;
  }
}

.health-tabs-container .health-tabs-variation .tabs-panel td {
  font-size: 12px;
}

/* .health-tabs-container .health-tabs-variation .tabs-panel tr {
  display: flex;
} */


.health-tabs-container .health-tabs-variation .tabs-panel td img {
  width: 48px;
  /* Adjust the width of the image */
  height: 48px;
}

.health-tabs-container .health-tabs-variation .tabs-panel td p img {
  width: 15px;
  height: 10px;
}

.health-tabs-container .health-tabs-variation .tabs-panel table {
  border: 1px solid rgb(17 17 17 / 12%);
  margin: 20px;
  border-radius: 16px;
  flex: 1;
}

@media (width >=900px) {
  .health-tabs-container .health-tabs-variation .tabs-panel table tbody {
    padding: 10px;
    display: table-cell;
  }
}

@media (width <=786px) {
  .health-tabs-container .health-tabs-variation .tabs-panel table {
    width: 100%;
  }
}

.health-tabs-container .health-tabs-variation .tabs-panel table tr:nth-child(2) td {
  color: #4275c2;
  background: #f5f8ff;
  text-align: center;
}

.health-tabs-container .health-tabs-variation .tabs-panel table tr:last-child {
  text-align: center;
}

.health-tabs-container .health-tabs-variation .tabs-panel table td:first-child a {
  display: inline-block;
  padding: 10px 26px;
  background-color: #4169E1;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.health-tabs-container .health-tabs-variation .tabs-panel table td:last-child a {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 8px;
}