$color_1: #fff;
$background-color_1: var(--light-color);
$background-color_2: #E0E3FA;
$background-color_3: #26026A0D;
$background-color_4: #ffffff;

/* @media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
} */
/* no header variant */
/* striped variant */
/* bordered variant */
/* .coverage > table > tbody > tr{
    border: 2px solid #F5F9FF;
} */
/* .coverage table th, .table.bordered table thead tr{
    border-top-left-radius: 10px;
} */
/* .eligibility .coverage>table>tbody>tr>th:nth-child(1) {
  
} */
.table {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: var(--body-font-size-xs);

    thead {
      tr {
        border-top: 2px solid #dadada;
        border-bottom: 2px solid #dadada;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #dadada;
      }
    }

    th {
      font-weight: 700;
      padding: 0.5em;
      text-align: left;

      p {
        margin: 0;
      }
    }

    td {
      padding: 0.5em;
      text-align: left;

      p {
        margin: 0;
      }

      p+p {
        margin-top: 0.25em;
      }
    }
  }
}

.table.no-header {
  table {
    tbody {
      tr {
        border-top: 1px solid #dadada;
      }
    }
  }
}

.table.striped {
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $background-color_1;
      }
    }
  }
}

.table.bordered {
  table {
    th {
      border: 1px solid #dadada;
      border: 1.5px solid #dadada;
      background-color: $background-color_2;
    }

    td {
      border: 1px solid #dadada;
      border: 1.5px solid #dadada;
    }

    img {
      width: 15px;
    }
  }
}

.coverage {
  >table {
    >tbody {
      >tr {
        >td {
          &:nth-child(1) {
            width: 70%;
          }
        }
      }
    }
  }

  table {
    th {
      border: 1.5px solid #dadada;
      border: 1.5px solid #dadada;
      background-color: $background-color_2;
    }
  }
}

.section-coverage {
  background-color: $background-color_3;

  .table-wrapper {
    background-color: $background-color_4;
  }

  .default-content-wrapper {
    p {
      strong {
        font-size: 32px;
        text-align: center;

        @media (width <=786px) {
          font-size: 25px;
        }
      }
    }
  }
}


.coverage {
  table {
    th {
      width: 15px;
    }
  }
}


.eligibility {
  .coverage {
    >table {
      >tbody {
        >tr {
          >td {
            &:nth-child(1) {
              width: 25%;
            }
          }
        }
      }
    }
  }

  .table-wrapper {
    >div {
      >table {
        >thead {
          >tr {
            >th {
              border-right: none;
              background: none;
              font-weight: normal;
              border-top: none;
            }
          }
        }
      }
    }
  }

  .table {
    table {
      border: 2px solid #663DB3 !important;

      thead {
        tr {
          border-top: none;
        }
      }
    }
  }

  .default-content-wrapper {
    p {
      background: #663DB3;
      margin: 0;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      border: 1px solid #663DB3;
      display: flex;
      align-items: center;
      color: $color_1;
      font-size: 30px;

      img {
        width: 70px;
        padding: 24px;
        padding-bottom: 12px;
      }
    }
  }
}