.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

/* @media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
} */

.table table thead tr {
  border-top: 2px solid #dadada;
  border-bottom: 2px solid #dadada;
}

.table table tbody tr {
  border-bottom: 1px solid #dadada;
}

.table table th {
  font-weight: 700;
}

.table table th,
.table table td {
  padding: 0.5em;
  text-align: left;
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p+p {
  margin-top: 0.25em;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid #dadada;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--light-color);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid #dadada;
}

.coverage>table>tbody>tr>td:nth-child(1) {
  width: 70%;
}

/* .coverage > table > tbody > tr{
    border: 2px solid #F5F9FF;
} */

.coverage table th,
.table.bordered table td {
  border: 1.5px solid #dadada;
}

/* .coverage table th, .table.bordered table thead tr{
    border-top-left-radius: 10px;
} */

.coverage table th,
.table.bordered table th {
  border: 1.5px solid #dadada;
  background-color: #E0E3FA;
}

.section-coverage {
  background-color: #26026A0D;
  
}

.section-coverage .table-wrapper {
  background-color: #ffffff
}

.section-coverage .default-content-wrapper p strong {
  font-size: 32px;
  text-align: center;

   @media (width <=786px) {
    font-size: 25px;
  }
}

.coverage table th,
.table.bordered table img {
  width: 15px;
}

.eligibility .coverage>table>tbody>tr>td:nth-child(1) {
  width: 25%;
}

/* .eligibility .coverage>table>tbody>tr>th:nth-child(1) {
  
} */

.eligibility .table-wrapper>div>table>thead>tr>th {
  border-right: none;
  background: none;
  font-weight: normal;
  border-top: none;
}

.eligibility .table table {
  border: 2px solid #663DB3 !important;
  /* border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; */
}

.eligibility .default-content-wrapper p {
  background: #663DB3;
  margin: 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border: 1px solid #663DB3;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 30px;
}

.eligibility .default-content-wrapper p img {
  width: 70px;
  padding: 24px;
  padding-bottom: 12px;
}

.eligibility .table table thead tr {
  border-top: none;
}